@font-face {
    font-family: 'Inter';
    src: local('Inter Light'), local('Inter-Light'),
        url('Inter-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'),
        url('Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter ExtraBold'), local('Inter-ExtraBold'),
        url('Inter-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), local('Inter'),
        url('Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}